[Unit]
Description=Ethereum Monitor
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=30
ExecStartPre=-/usr/bin/docker pull fundrequestio/ethereum-node-monitor:master
ExecStart=/bin/bash /opt/docker/ethereum-monitor/run.sh
ExecStop=-/usr/bin/docker stop ethereum-monitor
[Install]
WantedBy=multi-user.target